@import "nib"
@import "inc/mixins"
@import "inc/fonts"
@import "inc/variables"

normalize-css()

@import "inc/wrapper"
@import "inc/layout"
@import "inc/title"
@import "inc/header"
@import "inc/main"
@import "inc/features"
@import "inc/search"
@import "inc/search-form"
@import "inc/sorting"
@import "inc/sorting-form"
@import "inc/result"
@import "inc/footer"
@import "inc/caption"
