.caption
  display flex
  align-items center

  text(400, 14px, 26px)
  &__html-academy
    width 115px
    height 41px

    margin-left 8px

    outline none
    & path
      fill black
    &:hover path
    &:focus path
      fill crayola
    &:active path
      fill light-grey
