.features
  text-align center
  &__title
    width 440px
  p
    text(400, 14px, 26px)
    color signal
  &__list
    margin 0
    padding 0
    list-style none
    p
      text(400, 14px, 21px)
  &__item-1
  &__item-3
    background-color crayola
    color white
    p
      color white
  &__item-4
    background-color smoky
