.features
  margin-bottom 50px
  padding-top 60px
  text-align center
  p
    text(400, 14px, 26px)
    color signal
  &__title-attract
    display block
    width 440px
    margin 0 auto 30px
  &__attract
    margin-bottom 48px
  &__list
    display flex
    flex-wrap wrap
    margin 0
    padding 0
    list-style none
    p
      text(400, 14px, 21px)
  &__list-1
    justify-content flex-start
    background-image url("../img/layer-10.jpg")
    background-repeat no-repeat
    background-position center right
  &__list-3
    justify-content flex-end
    background-image url("../img/layer-5.jpg")
    background-repeat no-repeat
    background-position center left
  &__item
    display flex
    flex-direction column
    align-items center
    width 400px
    p
      margin-bottom 5px
  &__item-1
    padding 50px 60px 52px
  &__item-2
    padding 162px 50px 75px
    background-repeat no-repeat
    background-position  center 60px
  for n in 1..3
    &__item-2:nth-child({n})
      background-image url("../img/icon-" + n + ".svg")
  &__item-3
    padding 48px 48px 54px
  &__item-4
    padding 48px 70px 54px
    background-color smoky
  &__item-1
  &__item-3
    background-color crayola
    color white
    p
      color white

  &__title
    width 160px
    margin 0 0 12px
    text(800, 21px, 21px)
