.site-footer
  &__social-list
    margin 0
    padding 0
    list-style none
  &__social-button
    display block
    width 46px
    height 48px
    background-color crayola
    background-repeat no-repeat
    background-position center
  &__social-button-tw
    background-image url("../img/tw-icon.svg")
  &__social-button-fb
    background-image url("../img/fb-icon.svg")
  &__social-button-yt
    background-image url("../img/yt-icon.svg")
  &__hashtag
    text(800, 21px, 26px)
