html
  text(400, 14px, 21px)
  background-color smoky-white
  text-transform uppercase

a
  color black
  text-decoration none

.visually-hidden
  position absolute
  width 1px
  height 1px
  margin -1px
  border 0
  padding 0
  clip rect(0 0 0 0)
  overflow hidden
