html
  box-sizing border-box
  background-color smoky-white
  text-transform uppercase
  text(400, 14px, 21px)

*
*::before
*::after
  box-sizing inherit

body
  position relative

a
  color black
  text-decoration none
  transition 0.3s

.visually-hidden
  position absolute

  width 1px
  height 1px

  margin -1px
  padding 0
  border 0

  clip rect(0 0 0 0)
  overflow hidden
