.site-main
  background-color white
  &__welcome
    height 507px
    margin-bottom 60px
    background-image url("../img/polygon.svg"), url("../img/welcome.svg"), url("../img/background-photo.jpg")
    background-size 100%, 459px, auto
    background-repeat no-repeat
    background-position center bottom, center 76px, center top
