.site-main
  background-color white
  &__welcome
    height 507px

    padding 76px 370px

    background-image url("../img/polygon.svg"), url("../img/background-photo.jpg")
    background-size 100%, auto
    background-repeat no-repeat
    background-position center 450px, center -85px
