text(font-weight, font-size, line-height)
  font-family "PT Sans", Helvetica, sans-serif
  font-weight font-weight
  font-size font-size
  line-height line-height

layout() {
  outline          : 2px solid black;
  background-color : rgba(0, 0, 0, 0.05) !important;
}

icon(name-icon, width-icon, height-icon)
  display inline-block
  vertical-align middle
  width width-icon
  height height-icon
  content ""
  background-image url("../img/" + name-icon)
  background-repeat no-repeat
  background-position center
