.search
  text-align center
  &__question
    display block

    margin-bottom 27px

    text(800, 30px, 36px)
  p
    width 460px

    margin 0 auto

    text(400, 14px, 24px)
  &__title
    display block

    padding 31px

    position relative
    z-index 10

    background-color flea
    color white
    &:hover
    &:focus
      background-color grey-brown
    &:active
      background-color brownish
      color rgba(255, 255, 255, 0.3)
  &__text-container
    padding-bottom 44px
    padding-top 50px

    position relative
    z-index 10

    background-color white
  &__form-container
    width 568px

    margin 0 auto

    position relative
  &__map
    width 1200px
    height 594px
