.search-form
  display flex
  justify-content space-between
  align-items flex-start
  flex-wrap wrap

  padding 55px

  position absolute
  z-index 1

  background-color white
  text(800, 14px, 26px)

  box-shadow 0 7px 15px 0 rgba(0, 1, 1, 0.15)
  //opacity 1
  transform translateY(0)
  transition transform 1s
  &--close
    //opacity 0
    transform translateY(-400px)
  &--show
    //opacity 1
    transform translateY(0)
  label
    display flex
    justify-content space-between
    align-items center

    margin-bottom 29px
  &__date
    width 100%

    position relative
  &__adults
    width 226px

    position relative
  &__kids
    width 180px

    position relative
  input
    height 38px

    border none

    background-color smoky-white
    text-transform uppercase
    text(800, 14px, 26px)

    transition background-color 0.3s
    &:hover
      background-color smoky-grey
    &:focus
      background-color white

      outline 2px solid gainsborough
  &__date-field
    width 346px

    padding-left 12px
    padding-right 50px
  &__calendar-button
    display flex
    justify-content center
    align-items center

    width 38px
    height 38px

    border none

    position absolute
    top 0
    right 0

    background-color transparent
    & svg
      fill white-still
    &:hover svg
    &:focus svg
      fill black
    &:active svg
      fill crayola
  &__number-field
    width calc(38px * 3)

    text-align center
    &::-webkit-outer-spin-button
    &::-webkit-inner-spin-button
      -webkit-appearance none
  &__count-button
    display none
    justify-content center
    align-items center

    width 38px
    height 38px

    border none

    position absolute
    top 0

    background-color transparent

    cursor default
  &__prev-button
    right 76px
    & svg
      fill white-still
    &:hover svg
    &:focus svg
      fill black
    &:active svg
      fill crayola
    &--show
      display flex
  &__next-button
    right 0
    & svg
      fill white-still
    &:hover svg
    &:focus svg
      fill black
    &:active svg
      fill crayola
    &--show
      display flex
  &__button
    width 100%
    min-height 60px

    margin-top: 24px
    border none

    background-color crayola
    color white
    text-transform uppercase
    text(800, 21px, 26px)

    transition 0.3s
    &:hover
    &:focus
      background-color blue-grey
    &:active
      background-color blue-still
      color rgba(255, 255, 255, 0.3)
