@keyframes show-modal
  0%
    transform translateY(-400px)
  100%
    transform none

.search-form
  display none
  justify-content space-between
  align-items flex-start
  flex-wrap wrap
  padding 55px
  position absolute
  z-index 1
  background-color white
  box-shadow 0 7px 15px 0 rgba(0, 1, 1, 0.15)
  text(800, 14px, 26px)
  &--show
    display flex
    animation-name show-modal
    animation-duration 1s
  label
    display flex
    justify-content space-between
    align-items center
    margin-bottom 29px
    position relative
  for n in 1 2
    label:nth-of-type({n})
      width 100%
  label:nth-of-type(3)
    width 226px
  label:nth-of-type(4)
    width 180px
  input
    height 38px
    background-color smoky-white
    text(800, 14px, 26px)
    text-transform uppercase
    border none
    transition background-color 0.3s
    &:hover
      background-color smoky-grey
    &:focus
      background-color white
      outline 2px solid gainsborough
  &__date-field
    width 346px
    padding-left 12px
  &__calendar-button
    position absolute
    top 6px
    right 8px
    background-color transparent
    border none
    icon("calendar.svg", 22px, 23px)
  &__number-field
    width calc(38px * 3)
    text-align center
    &::-webkit-outer-spin-button
    &::-webkit-inner-spin-button
      -webkit-appearance none
  &__count-button
    position absolute
    top 0
    background-color transparent
    border none
    cursor default
  &__prev-button
    right 76px
    &--show
      icon("../img/minus.png", 38px, 38px)
  &__next-button
    right 0
    &--show
      icon("../img/plus.png", 38px, 38px)
  &__button
    width 100%
    min-height 60px
    margin-top: 24px
    text(800, 21px, 26px)
    background-color crayola
    color white
    text-transform uppercase
    border none
    transition 0.3s
    &:hover
    &:focus
      background-color blue-grey
    &:active
      background-color blue-still
      color rgba(255, 255, 255, 0.3)
