.sorting-form
  background-image url("../img/filter-background.jpg")
  background-repeat no-repeat
  color white
  fieldset
    border none
  legend
    text(800, 16px, 21px)
  &__facility-list
  &__type-list
    margin 0
    padding 0
    list-style none
  label
    text(400, 14px, 21px)
  &__price-field
    background-color transparent
    border none
  &__button
    text(400, 14px, 21px)
    background-color transparent
    text-transform uppercase
    border none
