.sorting
  text(400, 12px, 18px)
  &__title
    text(400, 12px, 18px)
  &__type-list
  &__course-list
    margin 0
    padding 0
    list-style none
  &__type-link
    color crayola
  &__type-link[href]
    color black
    opacity 0.3
  &__course-link svg
    fill light-cart
  &__course-link[href] svg
    fill crayola
