.sorting
  text(400, 12px, 18px)
  &__sorting-options
    display flex
    align-items center
    padding 27px 72px 32px 72px
    border-bottom 1px solid smoky-white
  &__total
    margin-right 47px
  &__title
    margin 0
    margin-right 40px
    margin-bottom -15px
    text(400, 12px, 18px)
  &__type-list
  &__course-list
    display flex
    margin 0
    padding 0
    list-style none
  &__type-list
    margin-bottom -15px
  &__type-item
    margin-right 33px
  &__type-item:last-child
    margin-right 0
  &__type-link
    color crayola
  &__type-link[href]
    color rgba(0, 0, 0, 0.3)
    border-bottom 1px dotted crayola
  &__course-list
    margin-top 10px
    margin-left auto
  &__course-item:first-child
    margin-right 12px
  &__course-link svg
    fill light-cart
  &__course-link[href] svg
    fill crayola
