.sorting-form
  display flex
  justify-content space-between
  min-height 216px
  padding 26px 62px 20px 62px
  background-image url("../img/filter-background.jpg")
  background-repeat no-repeat
  background-position center
  color white
  &__left-column
    display flex
  &__right-column
    display flex
    align-items center
    flex-direction column
  fieldset
    border none
  legend
    margin-bottom 20px
    text(800, 16px, 21px)
  &__facility
    margin-right 100px
  &__facility-list
  &__type-list
    margin 0
    padding 0
    list-style none
    input
      display none
  label
    text(400, 14px, 21px)
  &__facility-item
  &__type-item
    margin-bottom 26px
  &__facility-item:last-child
  &__type-item:last-child
    margin-bottom 0
  &__price-field
    background-color transparent
    border none
  &__checkbox + label
    margin-left 38px
    position relative
    cursor pointer
  &__checkbox[disabled]:hover + label
  &__checkbox[disabled]:focus + label
    cursor default
  &__checkbox + label::before
    position absolute
    left -39px
    top -3px
    icon("checkbox-off.svg", 27px, 23px)
    background-position left top
    transition 0.3s
  &__checkbox[disabled] + label::before
    icon("checkbox-off--disabled.svg", 27px, 23px)
    background-position left top
  &__checkbox:checked + label::before
    icon("checkbox-on.svg", 27px, 23px)
    background-position left top
    transform(rotate(360deg))
  &__checkbox[disabled]:checked + label::before
    icon("checkbox-on--disabled.svg", 27px, 23px)
    background-position left top
  &__cost
    legend
      margin-bottom 6px
  &__range-filter
    width 316px
    margin-bottom 22px
  &__price-controls
    display flex
    width 100%
    margin-bottom 20px
    border 2px solid white
    border-radius 3px
    label
      display flex
      align-items center
      margin-left 50px
      margin-bottom 0
      //padding 6.5px 0 5px
      width 50%
    label:first-of-type
      border-right 2px solid white
    input
      width 100%
      height 32px
      margin-left 5px
      background-color transparent
      border none
  &__range-controls
    position relative
  &__scale
    width 100%
    height 2px
    background-color rgba(255, 255, 255, 0.3)
  &__bar
    width 100%
    height 2px
    position relative
    background-color white
  &__toggle
    width 20px
    height 24px
    position absolute
    bottom -12px
    background-image url("../img/filter-button.svg")
    background-repeat no-repeat
    background-position center
    cursor pointer
  &__toggle:hover
    transform(scale(1.2))
  &__toggle--min
    left 0
  &__toggle--max
    right 0
  &__button
    flex-grow 0
    margin-left -10px
    padding 6px 34px 4px
    text(400, 14px, 21px)
    background-color transparent
    text-transform uppercase
    border 2px solid white
    border-radius 3px
    &:hover
    &:focus
      background-color white
      color black
