crayola = #81b3d2
blue-grey = #669ec0
blue-still = #5496bd
smoky = #eeeeee
signal = #333333
flea = #766357
grey-brown = #604e43
brownish = #503e33
brownish-grey = #6a6a6a
light-cart = #cacaca
dull-grey = #666666
smoky-white = #f2f2f2
light-grey = #bdbbbc
smoky-grey = #ebebeb
gainsborough = #e5e5e5
white-still = #a9a9a9
