// Blue

crayola = #81b3d2
blue-grey = #669ec0
blue-still = #5496bd

// Brown

signal = #333333
flea = #766357
grey-brown = #604e43
brownish = #503e33

// Grey

brownish-grey = #6a6a6a
dull-grey = #666666
white-still = #a9a9a9
light-grey = #bdbbbc

// White

light-cart = #cacaca
smoky-white = #f2f2f2
smoky-grey = #ebebeb
gainsborough = #e5e5e5
smoky = #eeeeee
